$container-max-widths: (
  xl: 960px
);
$primary: #ff0000;

$main-first-color: #311d5e; //#311d5e
$main-second-color: #00dfcf; //#00dfcf
$main-third-color: #00f;

$gradient-first-color: $main-second-color;
$gradient-second-color: #4aa3cb;

$font-family-base: 'Roboto', sans-serif;
$font-family-custom: 'Playfair Display', serif;
$font-family-unique: 'HammersmithOne', sans-serif;

//$font-size-base: .875rem;

$text-color: #413d4b;

$default-transition: all .35s ease-in-out 0s;