/*************************************************
********************* CONTENT ********************
*************************************************/
// Elements style
.gradient-text {
  background: $main-second-color;
  background: -moz-linear-gradient(left, $gradient-txt-first-color 0%, $gradient-txt-second-color 100%);
  background: -webkit-linear-gradient(left, $gradient-txt-first-color 0%, $gradient-txt-second-color 100%);
  background: -o-linear-gradient(left, $gradient-txt-first-color 0%, $gradient-txt-second-color 100%);
  background: -ms-linear-gradient(left, $gradient-txt-first-color 0%, $gradient-txt-second-color 100%);
  background: linear-gradient(to right, $gradient-txt-first-color 0%, $gradient-txt-second-color 100%);
  -webkit-background-size: cover;
  background-size: cover;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  @include transition($default-transition);
}

.section {
  position: relative;
}

.section-bg {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;

  &:after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: .85;
    background: -moz-linear-gradient(left, $gradient-bg-first-color 0%, $gradient-bg-second-color 100%);
    background: -webkit-linear-gradient(left, $gradient-bg-first-color 0%, $gradient-bg-second-color 100%);
    background: -o-linear-gradient(left, $gradient-bg-first-color 0%, $gradient-bg-second-color 100%);
    background: -ms-linear-gradient(left, $gradient-bg-first-color 0%, $gradient-bg-second-color 100%);
    background: linear-gradient(to right, $gradient-bg-first-color 0%, $gradient-bg-second-color 100%);
  }

  &__img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
  }

  & ~ * {
    color: white !important;

    .title-block:after {
      background: white;
    }
  }
}

.title-block {
  position: relative;
  padding: 0 0 1.786rem;
  margin-bottom: 3.214rem;

  &:after {
    content: '';
    width: 50px;
    height: 1px;
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    opacity: .3;
    background: $text-color;
  }
}

.title {
  margin: 0;
  //color: $text-color;
  font-family: $font-family-custom;
  font-weight: bold;
  font-size: 1.571rem;
  text-transform: uppercase;
  letter-spacing: 1px;
}

.go-to {
  color: $text-color;
  font-weight: 300;
  text-decoration: none !important;
  &:hover {
    color: $main-second-color;
  }

  svg {
    display: inline-block;
    width: 15px;
    height: 15px;
    vertical-align: top;
  }
}

.subtitle {
  margin: 16px 0 0;
  font-family: $font-family-custom;
}

.button {
  display: inline-block;
  width: max-content;
  padding: 11px 14px;
  border: 1px solid $main-second-color;
  @include radius(2px !important);
  color: $main-second-color;
  font-family: $font-family-unique;
  font-size: 1.143rem;
  text-decoration: none !important;
  text-transform: uppercase;
  background: transparent;
  @include transition($default-transition);

  &:hover {
    color: white;
    background: $main-second-color;
  }
}

// Contents style
.main-section {
  padding: 230px 0 70px;

  .title-block {
    &:after {
      opacity: 1;
      background: $main-second-color;
    }
  }

  .slide {
    &__text {
      margin: 0 0 53px;
      letter-spacing: 1px;
      line-height: 1.714rem;
    }

    .title-block {
      margin-bottom: 2.143rem;
    }

    .title {
      color: white;
      font-size: 2.286rem;
      text-transform: capitalize;
    }
  }

  .slick-list {
    overflow: visible;
  }

  .slick-slide {
    opacity: 0;
    text-align: center;
    @include transition($default-transition);

    &.slick-active {
      opacity: 1;
    }
  }

  .slick-dots {
    padding: 125px 0 0;
    margin: 0;
    text-align: center;

    li {
      display: inline-block;

      &:not(:last-of-type) {
        margin-right: 5px;
      }

      &.slick-active {
        button {
          border-color: $main-second-color;
          background: $main-second-color;
        }
      }

      button {
        display: inline-block;
        width: 10px;
        height: 10px;
        padding: 0;
        border: 1px solid #c2c2c2;
        @include radius(100%);
        font-size: 0;
        background: transparent;
        @include transition($default-transition);
      }
    }
  }
}

.about-us-section {
  padding: 70px 0;
}

.about-us {
  &__logo {
    display: block;
    margin: 0 auto;
  }

  &__text {
    margin: 33px 0;
  }
}

.video-section {

}

.multimedia {
  position: relative;

  &__video {
    opacity: 0;
    visibility: hidden;
    @include transition($default-transition);

    &.visible {
      opacity: 1;
      visibility: visible;
    }

    iframe {
      display: block;
      width: 100%;
      height: 550px;
      margin: 0 auto;
    }
  }

  &__video-close {
    position: absolute;
    top: 25px;
    right: 25px;
    width: 35px;
    height: 35px;
    padding: 0;
    background: none;
    border: none;

    &:before, &:after {
      content: '';
      display: inline-block;
      width: 100%;
      height: 3px;
      background: #fff;
      position: absolute;
      top: 50%;
      left: 50%;
      @include transform(translate(-50%, -50%) rotate(45deg));
    }

    &:after {
      @include transform(translate(-50%, -50%) rotate(-45deg));
    }
  }

  &__placeholder {
    position: absolute;
    top: 50%;
    left: 50%;
    @include translate(-50%, -50%);
  }

  &__button {
    position: relative;
    border: none;
    background: none;
    color: white;

    svg {
      width: 99px;
      height: 99px;
      fill: white;
    }

    &:after {
      content: attr(data-text);
      display: block;
      margin: 35px 0 0;
      font-weight: 900;
      font-size: 1.143rem;
    }
  }
}

.expertise-section {
  padding: 70px 0;


}

.expertise {
  display: grid;
  grid-gap: 0;
  grid-template-columns: repeat(auto-fill, minmax(100%, auto));


  &__box {
    padding: 35px;
    text-align: center;

    &:not(:last-child) {
      border-bottom: 1px solid rgba(0, 0, 0, .08);
    }
  }

  &__img {
    margin: 0 0 35px;
  }

  &__caption {
    margin: 0 0 25px;
    font-weight: 900;
  }

  &__text {
    color: #333333;
    font-weight: 300;
    line-height: 1.5rem;
  }
}

.team-section {
  padding: 70px 0;
}

.team {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(220px, auto));
  grid-gap: 20px;
  margin: 0 0 120px;

  &__card {
    padding: 0 0 25px;
    border: 1px solid rgba(225, 225, 225, .5);
    text-align: center;
  }

  &__photo {
    display: block;
    width: 100%;
    height: 227px;
    object-fit: cover;
    object-position: center;
  }

  &__caption {
    margin: 20px 0 10px;
    font-weight: 900;
  }

  &__text {
    margin: 0;
    font-weight: 300;
    font-size: .813rem;
  }
}

.works-section {

}

.works-wrapper {
  padding: 35px 0;
}

.works {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(50%, 1fr));

  &__item {

  }

  &__img {
    width: 100%;
  }
}

.section-reviews {
  padding: 70px 0;
}

.reviews-wrap {

}

.reviews-message {
  &__slide {
    text-align: center;

    &:before {
      content: '“';
      font-family: $font-family-custom;
      font-size: 100px;
    }
  }

  &__text {
    margin: 0 0 50px;
    font-family: $font-family-custom;
    font-size: 1.143rem;
    line-height: 1.9rem;
  }

  &__caption {
    margin: 0;
    font-weight: 900;

    span {
      display: block;
      padding: 15px 0 45px;
      font-weight: 300;
      font-size: .929rem;
    }
  }
}

.reviews-nav {
  max-width: 306px;
  margin: 0 auto;

  .slick-arrow {
    background: none;
    border: none;
    position: absolute;
    top: 50%;
    right: 100%;
    left: auto;
    @include translate(0, -50%);

    &.slick-next {
      position: absolute;
      top: 50%;
      right: auto;
      left: 100%;
    }

    svg {
      width: 20px;
      height: 20px;
      fill: white;
    }
  }

  .slick-slide {
    padding: 13px 0;
    margin-right: 14px;

    &.slick-current {
      img {
        @include scale(1.55);
      }
    }
  }

  &__photo {
    display: block;
    width: 45px !important;
    height: 45px;
    object-fit: cover;
    object-position: center;
    @include transition($default-transition);
  }
}

.information-section {
  padding: 70px 0;
}

.mailing {
  &__form {
    margin: 35px 0 0;
  }

  &__form-row {
    display: block;
    margin: 0 0 20px;
  }

  &__input {
    width: 100%;
    height: 45px;
    padding: 0 20px;
    border: 1px solid rgba(0, 0, 0, 0.1);
    letter-spacing: 1px;
    color: $text-color;
    font-family: $font-family-base;
    &_textarea {
      min-height: 100px;
      height: 200px;
      max-height: 300px;
      padding: 20px;
    }

    &::-webkit-input-placeholder {
      opacity: .5;
      color: $text-color;
    }
    &::-moz-placeholder {
      opacity: .5;
      color: $text-color;
    }
    &::-ms-input-placeholder {
      opacity: .5;
      color: $text-color;
    }
    &::placeholder {
      opacity: .5;
      color: $text-color;
    }
  }

  &__submit {

  }
}

.partners {
  display: grid;
  grid-gap: 40px;
  grid-template-columns: repeat(auto-fill, minmax(calc(50% - 40px), 1fr));
  margin: 45px 0 0;

  &__img {
    max-width: 100%;
    margin: auto;
  }
}